@import '../../App.scss';

//variables

$grid-width: 50vw;
$col-width: calc((#{$grid-width}/ 3));

.service_grid {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: $grid-width;
}

.row {
  display: flex;
  flex-direction: row;
  max-width: calc((#{$grid-width}-2rem));
  margin: 0-auto;
  min-height: $col-width;
  [class^='col-'] {
    float: left;
  }
}

.individual_service {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: column;
  border: 1px solid $color-black;
  margin: 1rem;
  padding: 1rem;
  margin-left: 0;
  min-width: $col-width;
  background-color: white;
  flex-flow: column wrap;

  &:hover {
    -webkit-box-shadow: 5px 5px 0px 1px rgba(249, 231, 13, 1);
    -moz-box-shadow: 5px 5px 0px 1px rgba(249, 231, 13, 1);
    box-shadow: 5px 5px 0px 1px rgba(249, 231, 13, 1);
    transform: translate(-2px, -2px);
  }
}

.service_title {
  font-family: fira-sans-2, sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.service_icon_container {
  float: inherit;
  display: flex;
  align-items: baseline;
}
.service_icon {
  width: $col-width;
  margin-bottom: 0;
  align-items: baseline;
}
