@import '../../App.scss';

.about {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  &_container {
    p {
      margin-bottom: 2rem;
    }
  }
  &_text {
    width: 50vw;
  }
}

@media only screen and (max-width: 1000px) {
  .about {
    margin-top: 10rem;

    &_text {
      width: 50vw;
      align-items: center;
    }
  }
}
