@import '../../App.scss';

.about {
  display: flex;
  justify-content: center;
  margin-left: 8rem;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &_container {
    p {
      margin-bottom: 2rem;
    }
  }
}
