@import '../../App.scss';

.about {
  display: flex;
  justify-content: center;
  margin-left: 8rem;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &_container {
    p {
      margin-bottom: 2rem;
    }
  }
}
.background_reveal {
  position: absolute;
  height: 100vh;
  bottom: 0;
  width: 100vw;
  background-color: white;
  z-index: -1;
  animation: Reveal 3s;
  animation-fill-mode: forwards;
}

@keyframes Reveal {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
