@import '../../App.scss';

$viewport-width: calc((100vw - 10rem));

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin-left: 3.5rem;
  &_header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    &_subtitle {
      letter-spacing: 1rem;
      color: $color-primary;
      margin-top: 45vh;
      position: absolute;
      text-align: center;
      font-size: 2rem;
      z-index: 1;
      background-color: black;
      padding: 1rem;
      animation: fadeIn 1s;
      animation-delay: 1.5s;
      animation-fill-mode: backwards;
    }
  }
  &_button {
    margin-top: 65vh;
    text-align: center;
    animation: fadeIn 1s;
    animation-delay: 1.5s;
    animation-fill-mode: backwards;
  }
}

.background_reveal {
  position: absolute;
  height: 100vh;
  bottom: 0;
  width: 100vw;
  background-color: white;
  z-index: -1;
  animation: Reveal 3s;
  animation-fill-mode: forwards;
  overflow-x: hidden;
}

@keyframes Reveal {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
    visibility: hidden;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 1000px) {
  .main {
    width: 100vw;
    margin-top: 10rem;
    margin-left: 0;
    &_header {
      &_subtitle {
        letter-spacing: 1rem;
        color: $color-primary;
        margin-top: 30vh;
        position: absolute;
        text-align: center;
        font-size: 1.5rem;
        z-index: 1;
        background-color: black;
        padding: 1rem;
        animation: fadeIn 1s;
        animation-delay: 1.5s;
        animation-fill-mode: backwards;
      }
    }

    &_button {
    }
  }
}

@media only screen and (max-width: 500px) {
  .background_reveal {
    display: none;
  }
}
