@import '../../App.scss';

.main_button {
  font-family: fira-sans-compressed-2, sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 10px 15px 10px 15px;
  background-color: white;
  border: 1px solid black;
  transition: 0.5s;
  &:hover {
    cursor: pointer;
    background-color: $color-primary;
    outline: none;
  }
}
