@import '../../App.scss';

.form_group {
  margin-left: 10rem;
  input {
    border: none;
    background-color: lightgrey;
    width: 35vw;
    height: 3rem;
    padding-left: 2rem;
    outline: none;
    margin: 1rem;
    font-family: fira-sans-compressed-2, sans-serif;
    font-size: 1rem;
    &:valid {
      border-bottom: 3px solid $color-primary;
    }
    &:focus {
      border-bottom: 3px solid $color-primary;
    }
  }
  textarea {
    border: none;
    background-color: lightgrey;
    width: 35vw;
    padding-left: 2rem;
    outline: none;
    padding-top: 1rem;
    margin: 1rem;
    resize: none;
    height: 8rem;
    font-family: fira-sans-compressed-2, sans-serif;
    font-size: 1rem;
    &:valid {
      border-bottom: 3px solid $color-primary;
    }
    &:focus {
      border-bottom: 3px solid $color-primary;
    }
  }
}

.form_button {
  margin-top: -6.5rem;
  margin-left: 11rem;
}

@media only screen and (max-width: 1500px) {
  .form_group {
    margin-left: 7rem;
    input {
      width: 70vw;
    }
    textarea {
      width: 70vw;
    }
  }
  .form_button {
    margin-left: 8rem;
  }
}

@media only screen and (max-width: 1000px) {
  .contact_form_container {
    margin-bottom: 15rem;
  }
}
