@import '../../App.scss';

.loading {
  background-color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  margin-left: 3.5rem;
  h1 {
    text-align: center;
  }
}

.bunny_container {
  border-top: 3px solid black;
  border-right: 3px solid black;
}
