//variables
$color-primary: #f9e70d;
$color-white: #ffffff;
$color-black: #000000;
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
*::selection {
  color: grey;
  background: none;
}
body {
  font-family: fira-sans-compressed-2, sans-serif;
  background-image: url('./Assets/line_background.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  overflow: hidden;
}
.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

a {
  font-family: fira-sans-compressed-2, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: $color-white;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

h1 {
  font-family: montserrat, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  text-transform: uppercase;
}

h2 {
  font-family: montserrat, sans-serif;
  font-weight: 500;
  font-style: normal;
}
