.map {
  margin-left: 0;
  width: 50vw;
  height: 100vh;
}

.map_marker {
  width: 1.5rem;
}
.map_resize {
  display: none;
}
@media only screen and (max-width: 1500px) {
  .map {
    display: none;
  }
  .map_resize {
    display: flex;
  }
}
